@import "tailwindcss";

/* 🎯 THEME */
@theme inline {
  /* 🎨 COLORS */
  --color-primary: #3b82f6;
  --color-primary-light: #93c5fd;
  --color-light: #dbeafe;
  --color-secondary: #6366f1;

  --color-white: #ffffff;

  --color-black-1: #000000;
  --color-black-2: #111111;
  --color-black-3: #222222;
  --color-black-4: #333333;

  --color-gray-1: #f3f4f6;
  --color-gray-2: #6a7282;

  /* ✅ FIXED FONT */
  --font-sans: var(--font-figtree), sans-serif;
}

/* ✅ FORCE APPLY (IMPORTANT) */
body {
  font-family: var(--font-figtree), sans-serif;
}

/* 🚫 SCROLLBAR */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}